<form class="well" id="FrmNuevo" action="{{path('maestros_inventario_marcas_nuevo', { 'codigoMarcaPk':  0 })}}" method="post"> 
    <script>
        $('#myModal').modal('toggle');
        </script>

        <div class="modal hide" id="myModal">    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{%if arMarca is not null%}Editar marca{%else%}Crear marca{%endif%}</h3>
            </div>    
            <div class="modal-body">                             
                <div class="well">      
                    <table>
                        {% if arMarca is defined and arMarca is not null %}
                        <tr>
                            <td><strong>Codigo:</strong><br/></td>
                            <td><input type="text" class="span4" readonly="true" name="TxtCodigoMarca" {% if arMarca is defined and arMarca is not null %} value="{{arMarca.codigoMarcaPk}}" readonly="true" {% endif %}/></td>              
                        <tr> 
                        {% endif %}
                        <tr>
                            <td><strong>Descripcion:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtNombreMarca" {% if arMarca is defined and arMarca is not null %} value="{{arMarca.nombreMarca}}" {% endif %} placeholder="Nombre" required autofocus/></td>              
                        <tr>                                        
                        </table>            
                    </div>
                </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
                <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
            </div>  
        </div>
        </form>   
