{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div id="error" class="alert alert-danger fade in" >
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <p>No tiene permisos para acceder a esta opcion, por favor comuniquese con el administrador del sistema</p>
     </div>
</div>
{% endblock %}
