{% extends '::base.html.twig' %}
{% block content %}

<div class="container">          
    <form class="form-horizontal" role="form" id="FrmNuevo" action="{{ path('brs_log_despachos_nuevo', { 'codigoDespacho': 0  }) }}" method="post">
        <h3>{%if arGuia is defined and arGuia is not null%}Editar {%else%}Nuevo {%endif%} despacho</h3>
        <div class="well">
            {% if arGuia is defined and arGuia is not null %}
            <div class="form-group">
                <label for="TxtCodigoDespacho" class="col-sm-2 control-label">Codigo despacho</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TxtCodigoGuia" name="TxtCodigoDespacho" {% if arDespacho is defined and arDespacho is not null %} value="{{arDespacho.codigoDespachoPk}}" readonly="true"{% endif %}/>
                </div>
            </div>
            {% endif %}                                                        
        </div>

        <div class="well">
            <div class="form-group">
                <label for="TxtComentarios" class="col-sm-2 control-label">Comentarios</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="TxtComentarios" rows=5 name="TxtComentarios" {% if arDespacho is defined and arDespacho is not null %} value="{{arDespacho.comentarios}}" {% endif %} placeholder="Comentarios"> </textarea>
                </div>
            </div>            
        </div>

        <div class="modal-footer">
            <a class="btn btn-default" href="{{ path('brs_log_despachos_lista') }}">Cancelar</a>
            <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>           
        </div>

    </form>
</div>
{% endblock %}