{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
<div class="left_articles"> 
    <br />
    <p class="description"><h1>Reliquidar movimiento</h1></p> 
    <hr/>
    <form  action="{{ path('inventario_procesos_reliquidar_movimiento') }}" method="post">   
        <input type="text" class="span2" name="TxtCodigoMovimiento"/>
        <button class="btn" type="submit" name="OpSubmit">Reliquidar movimiento</button>       
    </form>      
</div>
{% endblock %}