<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cierre periodo nomina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            Cordial saludo,
            
            Le informamos que el corte del periodo que va hasta el 30
            de mayo de 2014 esta en proceso de cierre.<br />
            Le pedimos el favor de enviarnos las novedades de este para
            que sean procesadas.<br />
            
            Cualquier inquietud con gusto sera atendida, <br /><br />
            
            PABLO GARCIA <br />
            Auxliar de nomina <br />
            Tel: <br />
            Cel: <br />
            Correo: <br />           
        
        </div>
    </body>
</html>