body {
  min-height: 2000px;
  padding-top: 60px;
}

table tr {
    font-size: 10px;
}

td.titulo {
    font-weight: bold;  
    background-color: #f5f5f5;
}


p { line-height: 1.2; 
    font-size: 1em; 
    margin: 0 0 0px
}

pagination { 
    margin: 0 0 0px
}

.form-group { 
    margin-bottom: 5px
}

.panel {
    border-color: #6b9311;
    border-bottom-width: 5px;
    border-width: 2px; 
}
.panel-default > .panel-heading {
    color: #080E65;
    background-color: #16C5A6;
    border-color: #ddd;
}
    
.navbar-default {
    background-color: #8CDED0;
    border-color: #e7e7e7;
}

.table > tbody > tr > th {
    background-color:  #F1D96B;
}