{% extends '::base_sin_menu.html.twig' %}
{% block content %}
<div class="container">   
    <h3>Inconsistencias</h3>
    <table  class="table table-striped table-bordered table-condensed table-hover">            
        <tr>
            <th>ID</th>
            <th>INCONSISTENCIA</th>
        </tr>
        {% for arProgramacionPagoInconsistencias in arProgramacionPagoInconsistencias %}
        <tr>
            <td><input type="hidden" name="LblCodigo[]" value="{{ arProgramacionPagoInconsistencias.codigoProgramacionPagoInconsistenciaPk }}">{{ arProgramacionPagoInconsistencias.codigoProgramacionPagoInconsistenciaPk }} </td>
            <td>{{ arProgramacionPagoInconsistencias.inconsistencia  }}</td>
        </tr>
        {% endfor %}                        
    </table>  
</div>
{% endblock %}