<form class="well" id="FrmNuevo" action="{{path('maestros_inventario_unidadesmedida_nuevo', { 'codigoUnidadMedidaPk':  0 })}}" method="post"> 
    <script>
        $('#myModal').modal('toggle');
        </script>

        <div class="modal hide" id="myModal">    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{%if arUnidadMedida is not null%}Editar unidad medida{%else%}Crear unidad medida{%endif%}</h3>
            </div>    
            <div class="modal-body">                             
                <div class="well">      
                    <table>
                        {% if arUnidadMedida is defined and arUnidadMedida is not null %}
                        <tr>
                            <td><strong>Codigo:</strong><br/></td>
                            <td><input type="text" class="span4" readonly="true" name="TxtCodigoUnidadMedida" {% if arUnidadMedida is defined and arUnidadMedida is not null %} value="{{arUnidadMedida.codigoUnidadMedidaPk}}" readonly="true" {% endif %}/></td>              
                        <tr> 
                        {% else %}
                            <tr>
                                <td><strong>Codigo:</strong><br/></td>
                                <td><input type="text" class="span4" name="TxtCodigo" {% if arUnidadMedida is defined and arUnidadMedida is not null %} value="{{arUnidadMedida.codigoUnidadMedidaPk}}" {% endif %} placeholder="Codigo"  required autofocus/></td>              
                            <tr>                                
                        {% endif %}                            
                        <tr>
                            <td><strong>Nombre:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtNombre" {% if arUnidadMedida is defined and arUnidadMedida is not null %} value="{{arUnidadMedida.nombre}}" {% endif %} placeholder="Nombre"/></td>              
                        <tr>                                        
                        </table>            
                    </div>
                </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
                <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
            </div>  
        </div>
        </form>   
