{% extends '::base.html.twig' %}
{% block content %}
<div class="container">    
    <div class="jumbotron">
        <h1>Brasa</h1>
        <p>Una aplicacion simple de usar</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Ver mas &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->
{% endblock %}
