{% extends '::base.html.twig' %}
 
{% block content %}
    <div class="container">
        <div class="page-header">
          <h1>Recursos humanos y nomina <small>¿Como inicio?</small></h1>
        </div>        
        <div class="list-group">
          <a href="#" class="list-group-item active">Indice</a>
          <a href="#" class="list-group-item">Crear centros de costo</a>
          <a href="#" class="list-group-item">Crear los empleados</a>
          <a href="#" class="list-group-item">Crear contratos de trabajo</a>
          <a href="#" class="list-group-item">Iniciar periodos</a>
        </div>
    </div>
{% endblock %}