<form class="well" id="FrmNuevo" action="{{path('maestros_inventario_bodegas_nuevo', { 'codigoBodegaPk':  0 })}}" method="post"> 
    <script>
        $('#myModal').modal('toggle');
        </script>

        <div class="modal hide" id="myModal">    
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{%if arBodega is not null%}Editar bodega{%else%}Crear bodega{%endif%}</h3>
            </div>    
            <div class="modal-body">                             
                <div class="well">      
                    <table>
                        {% if arBodega is defined and arBodega is not null %}
                        <tr>
                            <td><strong>Codigo:</strong><br/></td>
                            <td><input type="text" class="span4" readonly="true" name="TxtCodigoBodega" {% if arBodega is defined and arBodega is not null %} value="{{arBodega.codigoBodegaPk}}" readonly="true" {% endif %}/></td>              
                        <tr> 
                        {% endif %}
                        <tr>
                            <td><strong>Descripcion:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtNombreBodega" {% if arBodega is defined and arBodega is not null %} value="{{arBodega.nombre}}" {% endif %} placeholder="Nombre" required autofocus/></td>              
                        <tr>                                        
                        </table>            
                    </div>
                </div>
            
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
                <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
            </div>  
        </div>
        </form>   
